<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Apini</title>
  <link rel="stylesheet" href="../static/css/foundation.css">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <script src="../static/js/vendor/modernizr.js"></script>
  <script src="../static/js/vendor/jquery.js"></script>
  <script src="../static/js/foundation.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0" />
</head>
<body style="font-family: 'ABeeZee', sans-serif;">

<script>
$(document).foundation();
</script>
<br />
<div class="row">
<div class="small-10 small-centered large-6 large-centered columns">

       <div class="row">
            <div class="small-12 large-12 columns">
               <h1 style="text-align:center;">Apini</h1>
            </div>
       </div>
       <div class="row">
            <div class="small-12 large-12 columns">
                <a href="https://openclipart.org/detail/221154/cartoon-bee"><img src="https://openclipart.org/download/221154/Cartoon-Bee.svg" /></a>
            </div>
       </div>    
       <div class="row">
            <div class="small-12 large-12 columns">
               <p>WyWallet started 2013 ever since paying for simple things like
               Public transport ticket have been a pain in the ...!</p>
               <p>No need to register, simple payment, works with all phones.</p>
               <p>Just send a message to: +46766862371. <br /> Example message: "Pay 100"</p>
            </div>
       </div>


    <input type="hidden" value="{{uri}}" name="paytoken" />
   </form>
</div>
</div>


</body>
</html>
