<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Apini</title>
  <link rel="stylesheet" href="../static/css/foundation.css">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <script src="../static/js/vendor/modernizr.js"></script>
  <script src="../static/js/vendor/jquery.js"></script>
  <script src="../static/js/foundation.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0" />
</head>
<body style="font-family: 'ABeeZee', sans-serif;">

<script>
$(document).foundation();
</script>
<br />
<div class="row">
<div class="small-10 small-centered large-6 large-centered columns">

       <div class="row">
            <div class="small-12 large-12 columns">
               <h1 style="text-align:center;">Apini</h1>
            </div>
       </div>
       <div class="row">
            <div class="small-12 large-12 columns">
                <a href="https://openclipart.org/detail/221154/cartoon-bee"><img src="https://openclipart.org/download/221154/Cartoon-Bee.svg" /></a>
            </div>
       </div>    
       <div class="row">
            <div class="small-12 large-12 columns">
            
               <p>The issue with virtually every mobile payment platform is 
               that <span class="label">none is omnipresent</span> there is either <span class="label">plattform lock-in</span> or 
               dependance on <span class="label">nationality</span> or other <span class="label">arbitrary factor.</span></p>
               
               <p>Apini solves this by being built on <span class="label">widely used protocols</span>, 
               using <span class="label">text messages and HTTP</span> with <span class="label">easy payments</span> using <span class="label">any credit</span> card through PayPal and BrainTree.</p>
               
               <p>With Apini the payee <span class="label">quickly initializes</span> a payment with a <span class="label">single test message</span> and the 
               payer only has to submit their payment details on the <span class="label">link</span> they get through SMS</p>
               
               <p>Apini is built using <span class="label">Python, flask and microWSGI</span> powered by a <span class="label">Postgres database</span> on the serverside. 
               We are using  the <a href="http://www.46elks.com">46elks API</a> to connect with the phone network and <span class="label">send the text messages</span>.</p>
               
               <p>We generate <span class="label">easy to remember URLs</span> for each transaction so the user experience isn´t disrupted even
               when the user fills in their <span class="label">payment details on something else</span> than their phone.</p>
               
               <p>Just send a message with the text pay and the amount like: "Pay 100" to: +46766862371.</p>
               
               <p>
				Url examples:
				<ul>
				<li>homeless-bone412</li>
				<li>wonderful-missile424</li>
				<li>depressed-monkey287</li>
				<li>ashamed-pie192</li>
				<li>scottish-slave616</li>
				<li>intensive-learning684</li>
				<li>alive-quicksand091</li>
				<li>angry-onion892</li>
				<li>troubled-pedestrian291</li>
				<li>pregnant-railway786</li>
				</ul>
               </p>
               
            </div>
       </div>


    <input type="hidden" value="{{uri}}" name="paytoken" />
   </form>
</div>
</div>


</body>
</html>
