<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <script src="/static/js/vendor/modernizr.js"></script>
  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script src="https://js.braintreegateway.com/js/beta/braintree-hosted-fields-beta.18.min.js"></script>
</head>
<body style="font-family: 'ABeeZee', sans-serif;">

<script>
$(document).foundation();
</script>

<div class="row">
  <div class="large-6 large-centered columns">
      <form id="cardform" action="/pay" method="POST">
      
<div class="row">
   <div class="small-12 columns">
     <h1 class="text-center">{{amount}} SEK</h1>   
   </div>
</div>

<div class="row">
   <div class="small-12 columns">
      <div class="row collapse prefix-round">
         <div id="dropin" />
      </div>
   </div>
</div>
        
<div class="row">
   <div class="small-6 columns">
      <a href="#" onclick="$('#cardform').submit()" class="button round expand success">Pay {{amount}} SEK</a>
   </div>
   <div class="small-6 columns">
      <a href="#" class="button round expand alert">Cancel</a>
   </div>
</div>

<div class="row">
   <div class="small-12 columns">
     <p>Press pay to pay</p>   
   </div>
</div>

<input type="hidden" number="{{uri}}" name="paytoken" />
      </form>
  </div>
</div>
<script>

var clientToken = "{{token}}";
braintree.setup(clientToken, "dropin", {container: "dropin"});

</script>
</body>
</html>
