<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Apini</title>
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <script src="/static/js/vendor/modernizr.js"></script>
  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0" />
</head>
<body style="font-family: 'ABeeZee', sans-serif;">

<script>
$(document).foundation();
</script>
<br />
<div class="row">
<div class="small-10 small-centered large-6 large-centered columns">

{% if good %}
       <div class="row">
            <div class="small-12 large-12 columns">
               <span class="success round button expand">We now have true success.</span>
            </div>
       </div>
       
{% elif paid %}
        <div class="row">
            <div class="small-12 large-12 columns round label">
               <img src="/static/dontberidiculous.jpg"
                alt="Don't bee ridiculous" />
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 columns">
               <span class="round button expand">Already Paid</span>
            </div>
       </div> 
       
{% else %}
       <div class="row">
            <div class="small-12 large-12 columns">
               <span class="alert round button expand">Something went wrong, payment failed.</span>
            </div>
       </div>
       
       
       <div class="row">       
            <div class="small-12 large-12 columns">
               <a href="/pay/{{uri}}" class="button round expand">Try again!</a>
            </div>
       </div>
        
       <div class="row">
            <div class="small-12 large-12 columns">
               <p>To get help...</p>
            </div>
       </div>
{% endif %}

   </form>
</div>
</div>


</body>
</html>
