<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Apini</title>
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <script src="/static/js/vendor/modernizr.js"></script>
  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0" />
</head>
<body style="font-family: 'ABeeZee', sans-serif;">

<script>
$(document).foundation();
</script>
<br />
<div class="row">
<div class="small-10 small-centered large-6 large-centered columns">

       <div class="row">
            <div class="small-12 large-12 columns">
               <span class="success round button expand">We now have true success 👻</span>
            </div>
       </div>
       

        <div class="row">
            <div class="small-12 large-12 columns">
               <span class="round button expand">Already paid, no need to pay again.</span>
            </div>
       </div> 

    <input type="hidden" value="{{uri}}" name="paytoken" />
   </form>
</div>
</div>


</body>
</html>
